.app {
  background-color: #fafafa;
  min-height: 100vh;
  height: 100%;
}

.app__header {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
}
