.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  background: #fff;
}

.imageupload__inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.imageupload__inputs > input:nth-of-type(1) {
  margin: 10px 0;
}

.imageupload__progress {
  width: 100%;
}

.imageupload__title {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
